.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}


.featureImage {
  width: 50%; /* Ensure the image takes up 50% of its container width */
  height: 160px;
  max-width: 70%; /* Ensure the image doesn't exceed its natural size */
  margin: 20px; /* Optional: Add margin below each image for whitespace */
  filter: drop-shadow(0.5px 0.5px 0 rgba(255, 255, 255, 0.5)); /* Transparent drop shadow */
}

.header-link {
  text-decoration: none;
}