.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}


.featureImage {
  width: 50%; 
  height: 160px;
  max-width: 70%; 
  margin: 20px; 
  filter: drop-shadow(0.5px 0.5px 0 rgba(255, 255, 255, 0.5)); /* Transparent drop shadow */
  object-fit: contain;
}


.header-link {
  text-decoration: none;
}