{
    "@context": {
      "@vocab": "https://schema.org/", 
      "xsd": "https://www.w3.org/TR/xmlschema-2/#",
      "rdfs": "http://www.w3.org/2000/01/rdf-schema#",
      "dc": "http://purl.org/dc/terms/",
      "dcat": "https://www.w3.org/ns/dcat#",
      "freq": "http://purl.org/cld/freq/",
      "qudt": "http://qudt.org/schema/qudt/",
      "qudt-units": "http://qudt.org/vocab/unit/",
      "qudt-quantkinds": "http://qudt.org/vocab/quantitykind/",
      "gsp": "http://www.opengis.net/ont/geosparql#",
      "locType": "http://vocabulary.odm2.org/sitetype",
      "odm2var":"http://vocabulary.odm2.org/variablename/",
      "odm2varType": "http://vocabulary.odm2.org/variabletype/",
      "hyf": "https://www.opengis.net/def/schema/hy_features/hyf/",
      "skos": "https://www.opengis.net/def/schema/hy_features/hyf/HY_HydroLocationType",
      "ssn": "http://www.w3.org/ns/ssn/",
      "ssn-system": "http://www.w3.org/ns/ssn/systems/"
    },
    "@id": "{{ data['@id'] }}",
    "@type": [
      "hyf:HY_HydrometricFeature",
      "hyf:HY_HydroLocation",
      {% if data['monitoringLocationType'] %}
      "locType:{{ data['monitoringLocationType'] }}"
      {% endif %}
    ],
    
    
    {% if data['monitoringLocationType'] %}
      "hyf:HydroLocationType": "{{ data['monitoringLocationType'] }}",
    {% endif %}
    
    {#Was told to not worry about changing this for time being, no way to get this without a geospatial query #}
    {#
    "sameAs": {
      "@id": "https://geoconnex.us/ref/gages/{{}}
    },
    #}

    "identifier": {
      "@type": "PropertyValue",
      "propertyID": "USGS site number",
      {% if data['monitoringLocationNumber'] %}
        "value": "{{ data['monitoringLocationNumber'] }}"
      {% endif %}
    },
    {% if data['name'] %}
      "name": "{{ data['name'] }}",
    {% endif %}

    {% if data['locations'] and data['locations'][0]['description'] %}
      "description": "{{ data['locations'][0]['description'] }}",
    {% endif %}
    "provider": {
      "url": "https://waterdata.usgs.gov",
      "@type": "GovernmentOrganization",
      "name": "U.S. Geological Survey Water Data for the Nation"
    },
    {% if data['schema:geo'] %}
      "geo": {{ data['schema:geo'] | to_json }},
    {% endif %}
    {% if data['gsp:hasGeometry'] %}
      "gsp:hasGeometry": {
        "@type": "{{ data['gsp:hasGeometry']['@type'] }}", 
        "gsp:asWKT": {{ data['gsp:hasGeometry']['gsp:asWKT'] | to_json }},
        "gsp:crs": {
          "@id": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
        }
      },
    {% endif %}

    {# Since @id is the only key in this block, I am assuming we can just exclude the entire block if it doesn't exist since the block would not provide any info #}
    {% if data["Locations"][0]["properties"] is defined and data["Locations"][0]["properties"]["mainstemURL"] %}
    "hyf:referencedPosition": {
      "hyf:HY_IndirectPosition": {
         "hyf:linearElement": {
          {# Assumes we can hard code 0 since this template is location-oriented and thus all date is related to one location#}
          "@id": "https://geoconnex.us/ref/mainstems/{{ data['Locations'][0]['properties']['mainstemURL'] }}"
        }
      }
    },
    {% endif %}

    "subjectOf": [
      {% for stream in data['Datastreams'] %}
          {
            {# Description ends up looking like the example below. However, we don't need the ID 
            or units when describing just the type of data so we split on , and use the first part #}
            {# "Lake or reservoir water surface elevation above NGVD 1929, feet / USCE-07335390-727586146fff4717b8d772eb32388d85" #}
            {% with typeOfData= stream['description'].split(',')[0] %}

            "@type": "Dataset",

            {% if data['name'] %}
            {# We use the name since all datastreams are coming from the same location #}
              "name": "{{data['name']}}",
            {% endif %}

            {% if stream['description'] %}
            {# Description describes what type of data that is being collected #}
            "description": "{{ stream["description"]}}",
            {% endif %}

            {# This is hardcoded, since it is not provided in the raw jsonld, but we can assume everything in the USGS template is from USGS#}
            "provider": {
              "url": "https://waterdata.usgs.gov",
              "@type": "GovernmentOrganization",
              "name": "U.S. Geological Survey Water Data for the Nation"
            },
            
            {% if data['monitoringLocationNumber'] %}
            "url": "https://waterdata.usgs.gov/monitoring-location/{{data["monitoringLocationNumber"]}}/#parameterCode={{ stream["properties"]["ParameterCode"] }}",
            {% endif %}

            "variableMeasured": {
              "@type": "PropertyValue",
              "name": "{{ typeOfData }}",

              {% if stream['unitOfMeasurement']['symbol'] %}
              "description": "{{ typeOfData }} in {{ stream['unitOfMeasurement']['symbol'] }}",
              {% endif %}


              {# 
              If there are many types of data, we have to just search since we can't be confident
              that it matches the wikipedia name
              #}
              "propertyID": "https://www.wikidata.org/w/index.php?search={{ typeOfData }}",
              "url": "https://en.wikipedia.org/w/index.php?search={{ typeOfData }}",

              {# For USGS, ['unitOfMeasurement']['name'] is not defined, so we use 'symbol' #}
              {% if stream['unitOfMeasurement']['symbol'] %}
              "unitText": "{{ stream['unitOfMeasurement']['symbol'] }}",
              {% endif %}

              {# These need to be hardcoded, qudt does not seem to be output by USGS with pygeoapi.
              No clear way to map every permutation to a unique id all in jinja #}
              {#
              "qudt:hasQuantityKind": "qudt-quantkinds:VolumeFlowRate",
              "unitCode": "qudt-units:FT3-PER-SEC",
              #}
              "measurementTechnique": "observation",

              "measurementMethod": {
                
                {# Can't say if it is a gaging station or another type since this is not provided in the raw jsonld.
                Also do not have enough info to link to a remote URL for the doi #}
                {# "url": "https://doi.org/10.3133/tm3A8", #}

                "name": "{{ typeOfData }} Measurements",
                "publisher": "U.S. Geological Survey"
              }
            },
            {% if stream['phenomenonTime']  %}
              "temporalCoverage": "{{ stream['phenomenonTime'] }}",
            {% endif %}

            {# dc and dcat are not provided in the raw jsonld, must be hardcoded #}
            {#"dc:accrualPeriodicity": "freq:daily",
            "dcat:temporalResolution": {"@value":"PT15M","@type":"xsd:duration"},
            #}

            "distribution": [
              {
                "@type": "DataDownload",
                "name": "USGS Instantaneous Values Service",

                {#`sites` is the same as the Thing id but the hyphen is replaced by a colon. if there is no hyphen, then you just pipe in the thing id  #}
                {# We then need to remove the surrounding '' to make sure the query is properly formatted #}
                "contentUrl": "https://waterservices.usgs.gov/nwis/iv/?sites={{data['id'] | replace("-", ":" ) | replace("'", "")}}&parameterCd={{ stream["properties"]["ParameterCode"] }}&format=rdb",
                "encodingFormat": [
                  "text/tab-separated-values"
                ],
                "dc:conformsTo": "https://pubs.usgs.gov/of/2003/ofr03123/6.4rdb_format.pdf"
              },
              {
                "@type": "DataDownload",
                "name": "USGS SensorThings API",
                "contentUrl": "https://labs.waterdata.usgs.gov/sta/v1.1/Datastreams('{{stream['@iot.id']}}')?$expand=Thing,Observations",
                "encodingFormat": [
                  "application/json"
                ],
                "dc:conformsTo": "https://labs.waterdata.usgs.gov/docs/sensorthings/index.html"
              }
            ]
          }
        {% if not loop.last %},{% endif %}
        {% endwith %} 
        {% endfor %}
      ]
}